<!DOCTYPE html>
<html lang="id">
  <head>
    <title>UNI-F</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow">
    <link as="font" crossorigin href="https://unicornfantasian.com/fonts/OverusedGrotesk-VF.woff2" rel="preload" type="font/woff2">
    <link rel="stylesheet" href="https://unicornfantasian.com/fonts.css" />

    <style type="text/css">
    * {
    box-sizing: border-box;
    }

    body {
     margin: 0;
     font-family: Overused Grotesk, system-ui, sans-serif;
     color: white;
     background-color: black;
    }

    main {
    padding: 1rem;
    }

    h1 {
    font-weight: 800;
    font-size: 2.1rem;
    line-height: 1;
    }

    h2 {
    font-weight: 800;
    font-size: 2.1rem;
    line-height: 1;
    }

    h3 {
    font-weight: 800;
    font-size: 2.1rem;
    line-height: 1;
    }
    </style>

  </head>
  <body>
    <main>
      <h1>
        UNI-F tidak mendukung UC Browser, Harap gunakan Google
        Chrome/Edge/Firefox ya ka:)
      </h1>
      <h2>
        UNI-F does not support UC Browser, Please use Google Chrome/Edge/Firefox okay ka :)
      </h2>
      <h3>
        UNI-F は UC ブラウザをサポートしていません。Google Chrome/Edge/Firefox を使用してください。大丈夫です :)
      </h3>
    </main>
    {% block body %}
    {% endblock body %}
  </body>
</html>


